<html>

<head>
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Files</title>
</head>

<body>
  <div id="content" hx-ext="ws" ws-connect="/websocket" class="bg-gray-200 p-4 h-full overflow-y-auto flex-grow">
    <div class="container mx-auto p-4">
      <div id="filelist" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
      </div>
    </div>
  </div>
</body>

</html>
